/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 1.5rem;
}

.button-collapse {
    color: #FFB953;
}


}
.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
        min-height: 600px;
    }
    #index-banner .section {
        top: 10%;
    }
    .parallax-container {
        min-height: 700px;
        line-height: 0;
        height: inherit;

    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
    .parallax-container {
        min-height: 1000px;
        line-height: 0;
        height: inherit;
    }
    img.hidden {
        display:none;
    }
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}


.btn-primary.outline {
    border: 2px solid #fff;
    text-decoration: none;
    color: #fff;
    text-align: center;
    letter-spacing: .5px;
    border-radius: 2px;
    background-color: none;

    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    border-color: #fff;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #fff;
    color: #fff;
    box-shadow: none;
}

.btn-secondary.outline {
    border: 2px solid black;
    text-decoration: none;
    color: black;
    text-align: center;
    letter-spacing: .5px;
    border-radius: 2px;
    background-color: #A2DDF2;

    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
}

.btn-secondary.outline:hover, .btn-secondary.outline:focus, .btn-secondary.outline:active, .btn-secondary.outline.active, .open > .dropdown-toggle.btn-secondary {
    color: black;
    border-color: balck;
    background-color: #A2DDF2;
}
.btn-secondary.outline:active, .btn-secondary.outline.active {
    border-color: black;
    color: black;
    box-shadow: none;
    background-color: #A2DDF2;
}



/* code for animated blinking cursor */
.typed-cursor{
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@-keyframes blink{
0% { opacity:1; }
50% { opacity:0; }
100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-ms-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.type {
    background-color:#FFB953;
    height: 300px;
}

#bulb {
    background-color:#3c474d;
    height: 300px;
}

.video {
    margin-top: 10px;
    margin-bottom: 50px;
}

footer {
    text-align:center;
    font-size:10pt;
    padding:15px;
    border-top:1px solid #ccc;
    color:gray;
}


